$color_1: white;
$background-color_1: black;

footer {
	display: flex;
	flex-wrap: wrap;
	background-color: $background-color_1;
	color: $color_1;
	display: flex;
	justify-content: flex-end;
}
.informacion_footer {
	display: flex;
	flex-direction: column;
	li {
		list-style-type: none;
		text-align: end;
		font-size: 12px;
		padding: 5px;
		margin-right: 2rem;
		margin-top: 1rem;
	}
}
.Copyright {
	display: flex;
	flex-wrap: wrap;
	font-size: 9px;
	background-color: $background-color_1;
	color: $color_1;
	justify-content: center;
}
.p-copi {
	padding: 5px;
}
